@import "./variables"

.container 
  margin: 0 auto
  padding-left: 30px
  padding-right: 30px
.content
  position: relative
.title
  color: $yellow
  font-family: Impact
  font-style: normal
  font-weight: 400
  line-height: normal
.caption
  color: $textgrey
  font-family: Montserrat
  font-size: 17px
  font-style: normal
  font-weight: 500
  line-height: normal

.header 
  position: absolute
  top: 25px
  width: 100%
  padding: 25px 0
  transition: background-color 0.3s, box-shadow 0.3s
  z-index: 999
  &_fixed
    position: fixed
    top: 0
    background-color: $background
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20)
.nav
  height: 22.75px
  margin: 0 auto
  flex: 1
  z-index: 1
  transition: 0.5s
  &__list
    display: flex
    justify-content: center
    gap: 48px
  &__item
    color: $textgrey
    font-family: Montserrat
    font-size: 17px
    font-style: normal
    font-weight: 600
    line-height: normal
    cursor: pointer
  &__item:hover
    color: $yellow
  &__item_active
    color: $yellow
    text-decoration: wavy underline
    text-underline-offset: 4px
.menu-button
  display: none
  flex-direction: column
  cursor: pointer
  gap: 5px
.language-switch
  position: absolute
  top: 25px
  right: 100px
  display: flex
  height: 22.75px
  border-radius: 19.5px
  margin-left: auto
  overflow: hidden
  &__half
    width: 26px
    display: flex
    align-items: center

    font-family: Montserrat
    font-size: 9.75px
    font-style: normal
    font-weight: 600
    line-height: normal

    cursor: pointer

    background: $darkyellow
    color: $yellow
    &:hover
      opacity: 0.8
      color: $white
  &__half_active
    background: $yellow
    color: $white
  &__left_half
    padding-left: 5.85px
  &__right_half
    padding-left: 4.55px

.main
  padding: 87px 92px 208px
  &__container
    position: relative
    display: flex
    justify-content: center
  &__content
    position: relative
    margin-top: 50px
  &__title
    font-size: clamp(80px, 25vw, 266.551px)
    letter-spacing: -9.329px
  &__caption
    white-space: pre
    line-height: 127%
    letter-spacing: 0.17px
    margin-bottom: 29px
  &__bottle-top
    @include flex_center

    top: -25px
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    pointer-events: none
  &__bottle-top-inner
    width: clamp(230px, 55vw, 598.125px)
    transform: rotate(8.508deg)
    max-width: initial
    flex-shrink: 0
  &__spiral-top
    position: absolute
    top: 0
    left: 0
    transition: 1s
    transform: translateX(0)
    z-index: -1
  &__spiral-right
    position: absolute
    top: 240px
    right: 0

.story 
  scroll-margin-top: 100px
  margin-bottom: 121px
  &__title
    font-size: clamp(41.95px, 13vw, 120px)
    text-transform: uppercase
    margin-bottom: 20px
  &__caption
    max-width: 532px
  &__spiral
    margin-left: 20px

.quality
  margin-bottom: 214px
  scroll-margin-top: 120px
  &__container
    position: relative
  &__bottle-middle
    position: absolute
    top: 0
    left: -123px
    object-fit: contain
    min-width: 524.55px
    height: 524.55px
    pointer-events: none
    &.scroll_hidden
      transition-delay: 0.5s
      transform: rotate(8.508deg) translateX(-100px)
    &.scroll_shown
      transform: rotate(8.508deg) translateX(0px)
  &__spiral-center
    position: relative
    top: 104px
    left: 157px
.cards
  position: relative
  height: 600px
  margin-left: 303px
.card
  position: absolute
  display: flex
  flex-direction: column
  width: 291.336px
  height: 195.741px
  padding: 40.192px 13.656px 39.282px 12.746px
  justify-content: center
  align-items: center
  flex-shrink: 0
  border-radius: 22.323px
  background: $yellow
  box-shadow: 0px 3.641697883605957px 27.312734603881836px 0px rgba(0, 0, 0, 0.20)
  z-index: 1

  &.scroll_hidden:not(.scroll_shown)
    top: 195px
    left: 280px
    transform: rotate(0deg)
    
  &__title
    color: #FFF
    font-family: Montserrat
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: normal
    margin: 7.28px 0
  &__text
    color: #FFF
    text-align: center
    font-family: Montserrat
    font-size: 15px
    font-style: normal
    font-weight: 500
    line-height: normal

  &:nth-child(1)
    top: 32px
    left: 272px
    transform: rotate(-5.348deg)
    transition-delay: 200ms
  &:nth-child(2)
    top: 220px
    left: 45px
    transform: rotate(-8.012deg)
    transition-delay: 400ms
  &:nth-child(3)
    top: 208px
    left: 470px
    transform: rotate(11.814deg)
    transition-delay: 600ms
  &:nth-child(4)
    top: 374px
    left: 297px
    transform: rotate(3.247deg)
    transition-delay: 800ms

.order
  position: relative
  margin-bottom: 121px
  scroll-margin-top: 100px
  &__container
    overflow: hidden
  &__title
    font-size: clamp(41.95px, 13vw, 120px)
    text-transform: uppercase
  &__spiral-bottom
    position: absolute
    top: 0
    left: 0
    z-index: -1
  &__bottle-bottom
    display: flex
    justify-content: center
    align-items: center
  &__bottle-bottom-inner
    display: block
    position: absolute
    top: -140px
    right: -360px
    min-width: 949.06px
    height: 949.06px
    z-index: -1
    &.scroll_hidden
      transition-delay: 0.5s
      transform: rotate(-80.68deg) translateY(20%)
    &.scroll_shown
      transform: rotate(-80.68deg) translateY(0px)
.form
  margin-top: 40px
  display: flex
  flex-direction: column
  row-gap: 30px
  &.scroll_hidden
    opacity: 1
  &.scroll_hidden:not(.scroll_shown) *
    opacity: 0
    transform: translateX(-50px)
.order_input, .order_textarea
  color: $midgrey
  width: clamp(263px, 80vw, 438px)
  height: 50px
  
  padding: 15px
  gap: 10px
  border-radius: 5px
  background: $lightgrey

  font-feature-settings: 'clig' off, 'liga' off
  font-family: Inter
  font-size: 17px
  font-style: normal
  font-weight: 500
  line-height: 32px
  &::placeholder
    color: $grey
  &::last-child
    margin-top: 4px
  
  transition: 1s
  &:nth-child(2)
    transition-delay: 200ms
  &:nth-child(3)
    transition-delay: 400ms
  &:nth-child(4)
    transition-delay: 600ms
  &:nth-child(5)
    transition-delay: 800ms
  &:nth-child(6)
    transition-delay: 1000ms
.order_textarea
  height: 150px
  line-height: normal
  resize: none

.footer
  display: flex
  width: 100%
  height: 115px
  justify-content: center
  align-items: center
  flex-shrink: 0
  background: $yellow

  color: #FFF
  font-family: Montserrat
  font-size: clamp(12px, 4vw, 20px)
  font-style: normal
  font-weight: 500
  line-height: normal

.order-button
  @include flex_center

  display: inline-flex
  cursor: pointer
  margin-right: auto

  width: 180px
  height: 48px
  flex-shrink: 0
  border-radius: 50px
  background: $yellow

  color: $white
  font-family: Montserrat
  font-size: 17px
  font-style: normal
  font-weight: 800
  line-height: normal
  text-transform: uppercase
  &:hover
    background: transparentize($yellow, 0.2)

//Adaptation
@media screen and (min-width: 1200px)
  .container 
    max-width: 1080px

@media screen and (max-width: 1200px)
  .container 
    max-width: 1024px

@media screen and (max-width: 1024px)
  .container 
    max-width: 768px

  .language_switch
    right: 30px

  .main
    &__caption
      margin-top: clamp(120px, 20vw, 210px)
    &__spiral-right
      height: 400px
      top: 380px

  .quality
    margin-bottom: 50px
    &__container
      display: flex
      flex-direction: column-reverse
      justify-content: center
    &__bottle-middle
      position: initial
  .cards 
    margin-left: -35px
   
  .order
    &__content 
      display: flex
      flex-direction: column
      align-items: center
    &__bottle-bottom
      height: 300px
      img 
        object-fit: contain
    &__bottle-bottom-inner
      position: initial
      min-width: initial
      height: 400px
      scale: 1.5

@media screen and (max-width: 768px)
  .container 
    max-width: 576px

  .header
    &__container
      height: 30px
      margin: 0
      padding-left: 30px
  .nav
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100%
    gap: 25px
    padding: 120px 30px 50px
    background-color: $yellow
    transform: translate(-100%)
    transition: transform 0.5s
    &__list
      justify-content: flex-start
      flex-direction: column
    &_open
      transform: translate(0)
    &__item,
    &__item_active,
    &__item:hover
      color: white
    &__item
      margin: 0 auto
  .menu-button
    display: flex
    z-index: 1
    svg,
    path
      transition: all 0.5s
    svg 
      width: 60px
    &_active
      position: fixed
      top: 50px
      svg 
        path
          stroke: white
          stroke-width: 3
        &:nth-child(1),
        &:nth-child(3)
          width: 50px

        &:nth-child(1)
          rotate: 45deg

        &:nth-child(2)
          display: none
        
        &:nth-child(3)
          rotate: -45deg
          position: absolute
          transform: translate(-1px, -1px)
  .language-switch
    right: 30px

  .main
    &__title
      letter-spacing: -3.436px
    &__spiral-top
      display: none
    &__spiral-right
      height: 296.067px

  .story
    margin-bottom: 0 
  .cards 
    margin-left: -120px
    scale: 0.7 
    height: 500px
    
  .order 
    margin-bottom: 0

@media screen and (max-width: 576px)
  .container 
    max-width: 100%
  .caption
    font-size: 13px

  .main
    padding: 87px 92px 300px
    &__caption
      font-size: 15px

  .story
    &__title
      display: flex
      align-items: center
    &__spiral
      width: 60.787px
      height: 64.424px

  .quality
    &__container 
      align-items: center
    &__spiral-center
      position: absolute
      top: auto
      left: auto
      scale: 2.5
      rotate: 80deg
    &__bottle-middle
      width: 297.495px
      height: 297.495px 
  .cards
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    gap: 30px
    height: 700px
    margin-left: 0
  .card 
    position: initial
    top: 0
    left: 0
    &:nth-child(odd)
      transform: rotate(5deg)
    &:nth-child(even)
      transform: rotate(-5deg)
          
  .order 
    &__spiral-bottom
      width: 198.805px
      height: 210.7px
      top: 20%
    &__bottle-bottom
      height: 200px
    &__bottle-bottom-inner
      scale: 1
  .form
    row-gap: 18px
  .order_input, .order_textarea
    height: 34px
    padding: 9px
    font-size: 12px
    line-height: 19.215px
    &:nth-last-child(2)
      margin-bottom: 18px
  .order_textarea
    height: 100px

  .order-button
    margin: 0 auto
    font-size: 13px
    width: 138.158px
    height: 36.842px