@import "./variables"

@mixin header
  color: $yellow
  font-family: Impact
  font-size: 120px
  font-style: normal
  font-weight: 400
  line-height: normal
  text-transform: uppercase
@mixin header_caption
  color: $textgrey
  font-family: Montserrat
  font-size: 17px
  font-style: normal
  font-weight: 500
  line-height: normal

body
  margin-bottom: 500px
  background: $background

#nav
  display: flex
  justify-content: center
  align-items: flex-start
  gap: 48px
  margin: 50px auto 0
  .nav_item
    color: $textgrey
    font-family: Montserrat
    font-size: 17px
    font-style: normal
    font-weight: 600
    line-height: normal
    cursor: pointer
  .nav_item:hover
    color: $yellow
  .nav_item.active
    color: $yellow
    text-decoration: wavy underline
    text-underline-offset: 4px

#language_switch
  position: absolute
  top: 45px
  right: 100px
  width: 52px
  height: 22.75px
  border-radius: 19.5px
  display: flex
  overflow: hidden
  .switch_half
    width: 26px
    display: flex
    align-items: center

    font-family: Montserrat
    font-size: 9.75px
    font-style: normal
    font-weight: 600
    line-height: normal

    cursor: pointer
    &:hover
      opacity: 0.8
  .left_half
    background: $darkyellow
    color: $yellow
    padding-left: 5.85px
  .right_half
    background: $yellow
    color: $white
    padding-left: 4.55px

#main
  width: 896px
  margin: 0 auto 208px
  position: relative
#main #main_header
  color: $yellow
  font-family: Impact
  font-size: 266.551px
  font-style: normal
  font-weight: 400
  line-height: normal
  letter-spacing: -9.329px
#main #main_header_caption
  @include header_caption

  line-height: 127%
  letter-spacing: 0.17px
  width: 316px
  margin-bottom: 29px
#main #bottle_wrapper
  @include flex_center

  top: -25px
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  pointer-events: none
  #bottle_top
    width: 598.125px
    height: 598.125px
    transform: rotate(8.508deg)
    flex-shrink: 0

#story
  margin-left: 98px
  margin-bottom: 121px
#story #spiral
  margin-left: 20px
#story #story_header_caption
  @include header_caption

  width: 532px

#quality
  margin-left: 360px
  position: relative
  border: 1px solid #000
  height: 600px
#quality #bottle_middle
  position: absolute
  top: 0
  left: -400px
  width: 524.55px
  height: 524.55px
  transform: rotate(8.508deg)
  flex-shrink: 0
#quality .card
  display: flex
  flex-direction: column
  width: 291.336px
  height: 195.741px
  // transform: rotte(9.173deg)
  padding: 40.192px 13.656px 39.282px 12.746px
  justify-content: center
  align-items: center
  flex-shrink: 0
  border-radius: 22.323px
  background: $yellow
  box-shadow: 0px 3.641697883605957px 27.312734603881836px 0px rgba(0, 0, 0, 0.20)
  .title
    color: #FFF
    font-family: Montserrat
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: normal
    margin: 7.28px 0
  .text
    color: #FFF
    text-align: center
    font-family: Montserrat
    font-size: 15px
    font-style: normal
    font-weight: 500
    line-height: normal

#order
  position: relative
  margin-top: 214px
  margin-left: 190px
#order #order_form
  margin-top: 34px
  margin-bottom: 71px
  display: flex
  flex-direction: column
  row-gap: 35px
#order .order_input
  width: 438px
  height: 50px
  padding: 15px
  gap: 10px
  border-radius: 5px
  background: $lightgrey

  font-feature-settings: 'clig' off, 'liga' off
  font-family: Inter
  font-size: 17px
  font-style: normal
  font-weight: 500
  line-height: 32px
  &::placeholder
    color: $grey
#order #spiral_bottom
  position: absolute
  top: 0
  left: -190px
  z-index: -1
#order #bottle_bottom
  position: absolute
  top: -140px
  right: -360px
  width: 949.06px
  height: 949.06px
  transform: rotate(-80.68deg)
  flex-shrink: 0

.header
  @include header
.order_button
  display: inline-flex
  cursor: pointer
  margin-right: auto
  &:hover
    opacity: 0.8
  .order_text
    @include flex_center

    width: 180px
    height: 48px
    flex-shrink: 0
    border-radius: 50px
    background: $yellow

    color: $white
    font-family: Montserrat
    font-size: 17px
    font-style: normal
    font-weight: 800
    line-height: normal
    text-transform: uppercase
  .order_arrow
    @include flex_center

    width: 48px
    height: 48px
    flex-shrink: 0
    border: 3px solid $yellow
    border-radius: 50%

#spiral_top
  position: absolute
  top: 0
#spiral_right
  position: absolute
  top: 240px
  right: 0
